<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
<script src="/js/jquery-3.4.1.js" th:href="@{/js/jquery-3.4.1.js}"></script>
<script src="/js/Bl.js" th:href="@{/js/Bl.js}"></script>
</head>
<body>
	<div class="container" th:fragment="ingresoBL">
		<div class="panel panel-default" id="panel1">
			<div class="panel-body">
				<h3>Nuevo BL</h3>
				<p>
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-sml"
						onclick="javascript:ControllerBL('listBl')">Listar</button>
					<button type="button" class="btn btn-primary btn-sml"
						onclick="javascript:ControllerBL('getBl')">Buscar</button>
					<button type="button" class="btn btn-primary btn-sm"
						onclick="javascript:ControllerBL('insertBl')">Nuevo</button>
					<button type="button" class="btn btn-primary btn-sml"
						onclick="javascript:ControllerBL('updateBl')">Grabar</button>
					<button type="button" class="btn btn-primary btn-sml"
						onclick="javascript:ControllerBL('deleteBl')">Eliminar</button>
				</div>
				<p>
				<div class="alert alert-danger" id="msg" hidden="true"></div>
				<div class="input-group">
					<span class="input-group-addon">Numero BL</span> <input id="id_bl"
						type="text" class="form-control" name="id_bl">
				</div>
				<p>
				<div class="input-group">
					<span class="input-group-addon">Nombre Nave</span> <input
						id="nombre_nave" type="text" class="form-control"
						name="nombre_nave">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Numero Sello</span> <input
						id="num_sello" type="text" class="form-control" name="num_sello">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Consignatario</span> <input
						id="consignatario" type="text" class="form-control"
						name="consignatario">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Consignante</span> <input
						id="consignate" type="text" class="form-control" name="consignate">
				</div>
				<div>
					<span class="input-group-addon">Peso</span> <input id="peso"
						type="text" class="form-control" name="peso">
				</div>
				<div>
					<span class="input-group-addon">Volumen Cubico</span> <input
						id="vol_cubico" type="text" class="form-control" name="vol_cubico">
				</div>
				<div>
					<span class="input-group-addon">Mercaderia</span> <input
						id="mercaderia" type="text" class="form-control" name="mercaderia">
				</div>
				<div>
					<span class="input-group-addon">Tipo Carga</span> <input
						id="tipo_carga" type="text" class="form-control" name="tipo_carga">
				</div>
				<div>
					<span class="input-group-addon">Fecha Salida</span> <input
						id="fecha_salida" type="text" class="form-control"
						name="fecha_salida">
				</div>
				<div>
					<span class="input-group-addon">Fecha Arribo</span> <input
						id="fecha_arribo" type="text" class="form-control"
						name="fecha_arribo">
				</div>
				<div>
					<span class="input-group-addon">Unidades</span> <input
						id="unidades" type="text" class="form-control" name="unidades">
				</div>
				<div>
					<span class="input-group-addon">Carga</span> <input id="carga"
						type="text" class="form-control" name="carga">
				</div>
				<div>
					<span class="input-group-addon">incoterms</span> <input
						id="incoterms" type="text" class="form-control" name="incoterms">
				</div>
				<div>
					<span class="input-group-addon">Pais</span> <input id="Pais"
						type="text" class="form-control" name="Pais">
				</div>
				<div>
					<span class="input-group-addon">Documentacion</span> <input
						id="documentacion" type="text" class="form-control"
						name="documentacion">
				</div>
			</div>
		</div>
	</div>
	<div id="myModal" class="modal modal-sm" role="dialog">
  		<div class="modal-dialog">
    	<!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        			<h4 class="modal-title">BL List</h4>
      		</div>
      		<div class="modal-body" id="blTable">
      			<div class="table-responsive">
		        		<p>Some text in the modal.</p>
		        </div>
	      	</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
		</div>
	</div>
	<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>